# Project exclude paths
/.gradle/
/Amazing Numbers (1)/task/build/
/Amazing Numbers (1)/task/out/
/Amazing Numbers (1)/task/out/production/classes/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Conditional statement/Chocolate/out/
/Topics/Conditional statement/Chocolate/out/production/classes/
/Topics/Conditional statement/Healthy sleep/out/
/Topics/Conditional statement/Healthy sleep/out/production/classes/
/Topics/Declaring a method/Vowel or not/out/
/Topics/Declaring a method/Vowel or not/out/production/classes/
/Topics/Iterating over arrays/Boxes/out/
/Topics/Iterating over arrays/Boxes/out/production/classes/
/Topics/Iterating over arrays/Does an array contain N?/out/
/Topics/Iterating over arrays/Does an array contain N?/out/production/classes/
/Topics/Math library/The angle between vectors/out/
/Topics/Math library/The angle between vectors/out/production/classes/
/Topics/Printing data/First, second, third/out/
/Topics/Printing data/First, second, third/out/production/classes/
/Topics/Processing strings/Palindrome/out/
/Topics/Processing strings/Palindrome/out/production/classes/
/Topics/Processing strings/Piece of alphabet/out/
/Topics/Processing strings/Piece of alphabet/out/production/classes/
/Topics/StringBuilder/Concat all strings without digits/out/
/Topics/StringBuilder/Concat all strings without digits/out/production/classes/
/Topics/StringBuilder/The English alphabet/out/
/Topics/StringBuilder/The English alphabet/out/production/classes/
/Topics/The for-loop/Fizz Buzz/out/
/Topics/The for-loop/Fizz Buzz/out/production/classes/